<launch>

    <arg name="project" default="lio_sam"/>
    
    <!-- Parameters -->
    <rosparam file="$(find lio_sam)/config/params_hc_pj.yaml" command="load" />

    <!--- LOAM -->
    <include file="$(find lio_sam)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
    <include file="$(find forklift_controller)/launch/static_transforms_hc_pallet_truck.launch" />

    <!--- IMU Driver -->
    <!--include file="$(find xsens_mti_driver)/launch/xsens_mti_with_orientation_node.launch" /-->

    <!--- IMU Transformer -->
    <!--include file="$(find imu_transformer)/launch/ned_to_enu_xsens.launch" /-->

    <!--- Velodyne driver -->
    <!--include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" /-->

    <!--- Run Rviz-->
    <include file="$(find lio_sam)/launch/include/module_rviz.launch" />

</launch>
